*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#logo{
    position: relative;
    top: 200px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
           -justify-content: center;
}
#search{
    position: relative;
    top: 230px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
           -justify-content: center;
}
input[type=text]{
    width: 800px;
    height: 55px;
    font-family: Arial;
    font-size: 18px;
    color: hsl(0, 0%, 58%);
    padding: 15px;
    box-shadow: 0 2px 4px 0px hsl(0, 0%, 58%);
    border-width: 0.25px;
    border-color: #f7f7f7;
    border-radius: 5px;
}